@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  font-family: 'Inter', sans-serif;
  padding: 0;
}

#header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

.navbar {
  display: flex;
  gap: 10px;
  list-style-type: none;
  justify-content: center;
}

.navbar > li {
  padding: 10px 12px;
  font-weight: 600;
  font-size: 15px;
}

.navbar > li a {
  text-decoration: none;
}

.black-color {
  color: #344563;
}

.mobile {
  display: none;
}

#headline {
  width: 100%;
  height: 100vh;
  background-image: url(images/header-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.headline-content {
  margin: 72px 260px 0 260px;
  display: flex;
  flex-direction: column;
  max-width: 920px;
  align-items: center;
  padding: 160px 0;
  gap: 24px;
}

.headline-text {
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 0.37px;
}

.headline-content > h1 {
  color: #172b4d;
}

.headline-content > h3 {
  color: #36b37e;
  margin-top: -24px;
}

.headline-content > p {
  font-size: 20px;
  color: #172b4d;
  text-align: center;
  font-weight: 400;
}

.headline-content > ul {
  display: flex;
  list-style-type: none;
}

.headline-content > ul li {
  padding: 8px;
}

.img-arrow {
  border: 1px solid #dfe1e6;
  border-radius: 32px;
  padding: 8px;
}

@media all and (max-width: 780px) {
  #header {
    position: relative;
  }

  .navbar {
    justify-content: space-around;
  }

  .web {
    display: none;
  }

  .mobile {
    display: block;
  }

  #headline {
    background-image: url("images/header-bg-mobile.png");
  }

  .headline-content {
    padding: 64px 24px;
    margin: 10px 0 0 0;
  }

  .headline-text {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
  }
}
